@import "tailwindcss";
@plugin "daisyui";
* {
  box-sizing: border-box;
}
#root {
  font-family: "Inter", sans-serif;
}

@theme {
  --breakpoint-mn: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-xs: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer components {
  .card {
    @apply m-10 text-blue-600 border-amber-700 bg-white border-2;
  }
}

@media (prefers-color-scheme: light) {
  @theme {
    --color-surface: #f9fafb;
    --color-background: #fff;
    --color-primary1: #1e1e1e;
    --color-secondary2: #4b5563;
    --color-accent: #ff0000;
    --color-border: #e5e7eb;
    --color-hover: rgba(105, 105, 105, 0.3);
    --color-hover2: rgba(155, 155, 155, 0.3);
  }
  :root {
    color: #1e1e1e;
    background-color: var(--color-background);
  }
}
@media (prefers-color-scheme: dark) {
  @theme {
    --color-surface: #181818;
    --color-background: #0f0f0fe9;
    --color-primary1: #f1f1f1;
    --color-secondary2: #aaaaaa;
    --color-accent: #ff4b4b;
    --color-border: #303030;
    --color-hover: #272727;
  }
  :root {
    background-color: var(--color-background);
  }
}
.bg-blur {
  backdrop-filter: blur(10px);
}
